<div class="row">
    <div class="col-sm-8">

        <h1><%= @restaurant[:name] %></h1>

        <p><%= @restaurant[:description] %></p>

        <i class="fas fa-soup"></i><h5>Popular dishes</h5>

        <p><%= @restaurant[:popular_dishes] %></p>
        
        
        <% for review in @reviews %>
            <div class="media">
                <% if review[:enjoying] %>
                    <i class="fas fa-thumbs-up fa-2x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-2x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></h5>
                    <%= review[:reviews] %>
                </div>
            </div>
        <% end %>

        <p class="mt-5">
            <% if @current_user %>
                <a href="/restaurants/<%= @restaurant[:id] %>/reviews/new" class="btn btn-secondary">Add your review</a>
            <% else %>
                <a href="/logins/new" class="btn btn-secondary">Please sign in to review</a>
            <% end %>
        </p>
    
    </div> 

    <div class="col-sm-4">
        <i class="far fa-map fa-2x"></i><h5>Location</h5>
        <p><%= @restaurant[:location] %></p>
        <i class="fas fa-phone-rotary fa-2x"></i><h5>Phone</h5>
        <p><%= @restaurant[:phone] %></p>
        <i class="fas fa-thumbs-up fa-2x"></i><h5>Total Likes</h5>
        <p><%= @like_count %></p>
    </div>
</div>
  


    